googletrans==3.1.0a0
inflect==7.4.0
mlconjug3==3.11.0
nltk==3.9.1
pandas==2.2.3
pypdf==5.0.1
pyyaml==6.0.2
setuptools==75.2.0
spacy==3.8.2
tabula-py==2.10.0

# Manually specified while waiting on https://github.com/Ars-Linguistica/mlconjug3/issues/514
click==8.1.7
defusedxml==0.7.1
joblib==1.4.2
pyyaml==6.0.2
rich==13.9.3
scikit-learn==1.5.2
tomlkit==0.13.2
